svg:hover{
    fill: red;
}

ul .logout{
    padding-left: 95px;
}

.foto-perfil{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family:  "Roboto", sans-serif;
}

.foto-perfil label {
    cursor: pointer;
}

.foto-perfil img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    transition: filter 0.3s ease;
    border-radius: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.929), rgba(255, 255, 255, 0.905)) padding-box, linear-gradient(rgb(148, 20, 228), rgb(81, 1, 108)) border-box;
    border: 5px solid #0000;
    max-width: 100%;
    position: relative;
}

.foto-perfil img:hover {
    filter: blur(5px);
}

.foto-perfil .hover-icon {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; 
    color: #6d44b8;
}

.foto-perfil label:hover .hover-icon {
    opacity: 1;
}

.salvar_foto{
    color: #fff;
    background: #573b8a;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
    height: 40px;
    width: 150px;
    margin-bottom: 30px;
}

.salvar_foto:hover{
    background-color: #381182;
}
.editar-excluir{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}

.editar-excluir button{
    color: #fff;
    background: #573b8a;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
    height: 40px;
    width: 150px;
}


.editar:hover{
    background-color: #FFBF00;
    color: black;
}

.excluir:hover{
    background-color: #C40C0C;
}
.cima_apagar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pub form{
    margin-top: 10px;
    padding-top: 10px;
    margin-right: 15px;
}

button.excluir-pub {
    background: none; 
    border: none;     
    margin: 0;       
    padding: 0;       
    cursor: pointer;  
    display: flex;    
    align-items: center; 
    justify-content: center;
}

button.excluir-pub:hover path {
    fill: #ff0000; 
}
