@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.protect{
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.span{
    color: #53338f;
    display: flex;
    justify-content: center;
}

.botao-logar a{
    margin-top: 30px;
    padding: 10px 25px;
    background-color: #53338f;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.botao-logar a:hover{
    background-color:  #48248b;
    border: 2px solid rgba(0, 0, 0, 0);
    font-size: 30px;
}